@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}

<h1>Configuração SMTP (.NET Core 3.1 via classe)</h1>
<hr />
<p style="font-size : larger">
    Domínio : @ViewBag.Domain
    <br />
    Porta   : @ViewBag.Port
</p>
<hr />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
